<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ informacion?.Title }} ({{ informacion?.Year }})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="informacion">
    <ion-card-content text-center>
      <img [src]="informacion?.Poster" class="info-img">
      <ion-item lines="none">
        <ion-label text-wrap>Tipo: {{ informacion?.Type }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label text-wrap>Fecha de lanzamiento: {{ informacion?.Released }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label text-wrap>Idiomas: {{ informacion?.Language }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Valoración IMDB: {{ informacion?.imdbRating }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label text-wrap>Director/es: {{ informacion?.Director }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label text-wrap>Elenco: {{ informacion?.Actors }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label text-wrap>Descripción: {{ informacion?.Plot }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>