<ion-header>
  <ion-toolbar>
    <ion-title>Buscapelis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar..." [(ngModel)]="busca" (ionChange)="textchanged($event)"></ion-searchbar>
 
  <ion-list>
 
    <ion-item button *ngFor="let item of (apires | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>
      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>

      </ion-label>

      <ion-label slot = "end" text-wrap>
        
        {{ item.Year }}
      </ion-label>
 
    </ion-item>
 
  </ion-list>
 
</ion-content>
